{% block extrahead %}
<style>

</style>

{% endblock %}

<div style="position:absolute,bottom: 0, left: 0, width: 100% , height: 40px, margin-top: 20px">
  <footer class="footer page-footer small pt-4 mt-4 border-top" role="contentinfo">
  <div class="container">
      <div class="d-flex justify-content-between pt-3 pb-3">
          <div >
              first image
          </div>

          <div >
              second image
          </div>

          <div>
              third image
          </div>

          <div>
            fourth image
          </div>

      </div>
  </div>
</footer>
</div>
