table {
  font: 1em sans-serif;
}

/* All <td>s within a <table> and all <th>s within a <table>
   Comma is not a combinator, it just allows you to target
   several selectors with the same CSS ruleset */
table td, table th {
  border : 2px solid grey;
  padding: 0.1em 0.1em 0.1em;
}

/* All <th>s within <thead>s that are within <table>s */
table thead th {
  color: black;
  background: grey;
}

@media all and (max-width:1000px) {
        .table tr {    display: table;  width:800%;    }
        .table td {    display: table-row; }
    }

.toggle        { display: none; }
.toggle:target { display: table-row; }

tbody tr {
    display : none;
}
tr.parent {
    display : table-row;
}
tr.open {
    display : table-row;
}
