#footer {
    bottom: 0;
    right: 0;
    text-align: right
    width: 100%;
    
    height: $height-footer;
    background-color: #5f788a transparent;
    .footer-block {
      margin: 40px 0;
    }
