{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<h3>Get the development version from <a target="_blank" href="https://github.com/Amrithasuresh/BPPRC"> Github </a> </h3>
<br>
<h5>This is the source code of BBPRC 2019 website developed in Python/Django. To run the website locally, you need to install Django and a list of other Python packages which are listed in the requirements.txt file.</h5>


<br>
<br>
<code>
If you have git and pip installed, use this: <br>
<br>
pip install virtualenv <br>
virtualenv env <br>
source env/bin/activate <br>
<br>
git clone https://github.com/Amrithasuresh/BPPRC.git <br>
cd bpprc <br>
pip install -r requirements.txt <br>
python manage.py migrate <br>
python manage.py runserver <br>
<br>
Then copy the following URL in your browser. <br>
http://127.0.0.1:8000/ <br>
<br>
</code>



{% endblock content %}


{% block extrahead %}


{% endblock extrahead %}


{% block extrajs %}


{% endblock %}
