* {
  box-sizing: border-box;
}

ul {
  margin: 0;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}


.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:active {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.app-container {
  width: 60%;
  margin-left: 20%;
}

.btn-secondary.dropdown-toggle {
  background: transparent;

}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.card-title {
    color:#0080ff;
    font-weight: bold;
}

.card-text {
    color:#1a0000;
}

.card-footer {
        color: transparent;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

.circle {
      display:table;
      width: 6em;
      height:6em;
      border-radius: 50%;
      overflow: hidden;
      background: rgb(106,148,182);
      box-shadow: 0 0 3px gray;
  }

  /* # rgb(95,120,138); */

.circle div {
      display:table-cell;
      width:55%;
      height:55%;
      line-height:1em;
      text-align:center;
      vertical-align:middle;
      font-size: 3em;
      font-family:'Raleway', sans-serif;
      color:white;
  }

  #column {
      width: 8em;
  }
  #circles {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  #circles li {
      display: inline-block;
      margin:1.25%;
  }
  #wrapper {
      max-width: 60em;
  }

  #footer {
    position: relative;
    bottom: 0;
    margin-right: 0;
    margin-right: auto;
    text-align: right;
    width: 100%;
  }

  .table-hover tr:hover {
    background-color: #D2D2D2;
  }

  .table-nonfluid {
   width: auto !important;
}
