{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


  <h1 class="text-center list-unstyled"> <ul> Naming</h1>
  <br>
  <br>
  <br>
  <h3> Proteins will only get a name if they are derived from a bacterium and satisfy one of the following criteria </h3>
  <br>
  <h5> <li> Have >95% identity to an existing named protein (or)</li> </h5>
  <h5> <li> Have demonstrated activity against a target pest organism</li></ul> </h5>
</br>
<h5>* required field</h5>
</br>
</br>



  <!-- <form action="{% url 'submit' %}" method="POST"> -->
  <!-- {% csrf_token %} -->
  {% crispy form %}

  <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
  <!-- </form> -->


{% endblock content %}



{% block extrajs %}
<script src='https://www.google.com/recaptcha/api.js'></script>

<script>
// $(function() {
//   $('#div_id_bacterium_textbox').append("<a href='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi' target='_blank'> Where can I find taxonid?</a>")
// });
</script>

<script>
$(function() {
  $('').append("<a href='#'> class='glyphicon glyphicon-plus'</a>")
});
</script>

<script>
$(function() {
    $('input[name="sourcebacterium"]').change(function(obj) {
    console.log($(this).val());
    if ($(this).val() === 'True') {
        $('#id_sourcebacterium_textbox').parent().parent().show();
        $("#id_bacterium_textbox").text("Name of source bacterium (ideally taxonid)");
    } else {
      $('#id_sourcebacterium_textbox').parent().parent().hide();
      $("#id_bacterium_textbox").text("Enter details of source organism in comments box below");
    }
  });
  $('#id_sourcebacterium_textbox').parent().parent().hide();
});
</script>

<script>
$(function() {
    $('input[name="bacterium"]').change(function(obj) {
    console.log($(this).val());
    if ($(this).val() === 'True') {
        $('#id_bacterium_textbox').parent().parent().show();
        $("#div_id_bacterium_textbox").find('label').text("Name of source bacterium (ideally taxonid)");
        if ($('#div_id_bacterium_textbox').find('.taxonid-hint').length == 0) {
          $('#div_id_bacterium_textbox').append("<a href='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi' class='taxonid-hint' target='_blank'> Where can I find taxonid?</a>")
        } else {
          $('#div_id_bacterium_textbox').find('.taxonid-hint').show();
        }

    } else {
      $('#id_bacterium_textbox').parent().parent().show();
      $("#div_id_bacterium_textbox").find('label').text("Enter details of source organism in comments box below");
      if ($('#div_id_bacterium_textbox').find('.taxonid-hint').length > 0) {
      $('#div_id_bacterium_textbox').find('.taxonid-hint').hide();
    }
    }
  });
  $('#id_bacterium_textbox').parent().parent().show();
});
</script>



<script>
$(function() {
    $('input[name="partnerprotein"]').change(function(obj) {
    console.log($(this).val());
    if ($(this).val() === 'True') {
        $('#id_partnerprotein_textbox').parent().parent().show();
    } else {
      $('#id_partnerprotein_textbox').parent().parent().hide();
    }
  });
  $('#id_partnerprotein_textbox').parent().parent().hide();
});
</script>

<script type="text/javascript">

  $('.js-captcha-refresh').click(function (evt) {
      evt.preventDefault();
      $.getJSON("/captcha/refresh/", function (result) {
          $('.captcha').attr('src', result['image_url']);
          $('#id_captcha_0').val(result['key'])
      });
  });


  $(function() {
    $('.form-check').css('display', 'inline-block');
  });

</script>


{% endblock %}
