{% extends "database/base.html" %}
{% load static %}

{% block extrahead %}

<link rel="stylesheet" type="text/css" href="{% static 'database/cc.css' %}">
{% endblock %}

{% block content %}


	<form action="search/add_cart/" id="analysis_form" method="POST">
  {% csrf_token %}


		<div class="clear-float"></div>
		<div class="mt-2"></div>
  {% for description in descriptions %}

		<div>
			<span class="font-weight-bold">{{description.name}}:</span> {{description.description}}

			<br></br>
		</div>
  {% endfor %}


		<table border="3" class="parent" cellspacing="0" width="60%">
			<thead>
				<tr>
					<th>
						<input type="checkbox" id="selectall" class="regular-checkbox"/>
						<label for="selectall">
						</th>
						<th>Name </th>
						<th>Oldname </th>
						<th>Accession Number </th>
						<th>Year </th>
					</tr>
      {% for protein in proteins %}

					<tr>
						<td>
							<input type="checkbox" name="name" class="regular-checkbox name" value="{{ protein.name }}" />
						</td>
						<td> {{ protein.name}}</td>
						<td>{{ protein.oldname }}</td>
						<td>
							<a href="https://www.ncbi.nlm.nih.gov/protein/{{ protein.accession }}" target="_blank"> {{ protein.accession }} </a>
						</td>
						<td>{{ protein.year }}</td>
					</tr>
    {% endfor %}

				</thead>
			</table>
			<button type="submit" class="mt-4"> Add to Cart </button>
		</form>


{% endblock content %}

{% block extrajs %}



		<script type="text/javascript">

$(function () {
    // add multiple select / deselect functionality
    $("#selectall").click(function () {
        $('.name').attr('checked', this.checked);
    });

    // if all checkbox are selected, then check the select all checkbox
    // and viceversa
    $(".name").click(function () {

        if ($(".name").length == $(".name:checked").length) {
            $("#selectall").attr("checked", "checked");
        } else {
            $("#selectall").removeAttr("checked");
        }

    });
});

</script>
{% endblock %}
