{% extends "base.html" %}
{% load static %}
{% block content %}
<!doctype html>
<div id="wrapper">
  <p> <b> Download the sequences by class </b> </p>
      {% for description in descriptions %}
        <li>
            <a href="/download_category_{{ description.name|lower }}" >
              {{ description.name }} </a>
              <a> - {{ description.description }} </a>
        </li>
        {% endfor %}
        <li>
          <a href="/download_category_all" > All </a>
          <a> - Download all the categories</a>
        </li>
</div>

{% endblock content %}
