{% extends "database/base.html" %}
{% block content %}


<b>Pesticidal Protein Database</b>
<div>
	<p>The pesticidal protein database is part of the Bacterial Pesticidal Protein Resource Center (BPPRC), which is under development.
    This database is intended to replace and extend the current
		<i> Bacillus thuringiensis </i> nomenclature site
		<a href="http://www.btnomenclature.info/" target="_blank" >http://www.btnomenclature.info</a>.
	</p>
	<p>The database currently contains proteins listed in the Bt nomenclature site but with new mnemonics to reflect assignment of proteins to different homology groups.
    New bacteria-derived proteins with pesticidal properties are to be added.</p>
	<p>In addition to the database, the BPPRC will contain links to additional information about these proteins,
    as well as applications to allow for analysis and comparison between proteins.</p>
	<p>The development team is composed of: </p>
	<p>
		<font size="3">
			<div>
				<i> Suresh Pannerselvam </i>
				<sup>1</sup> , 
				<i> Neil Crickmore </i>
				<sup>2</sup> , 
				<i> Colin Berry </i>
				<sup>3</sup>, 
				<i> Thomas Connor </i>
				<sup>3</sup>, 
				<i>Ruchir Mishra </i>
				<sup>1</sup>  and 
				<i> Bryony C. Bonning </i>
				<sup>1</sup>
			</div>
		</font>
	</p>
	<sup> 1 </sup>
	<i> Department of Entomology and Nematology, University of Florida, USA </i>
	<br>
		<sup> 2 </sup>
		<i> School of Life Sciences, University of Sussex, UK  </i>
		<br>
			<sup> 3 </sup>
			<i> School of Biosciences, Cardiff University, UK </i>
		</div>

{% endblock content %}
