{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<h3>Select particular proteins/domains using the <a href="{% url 'search_database_home' %}">Database/Search facility</a> </h3>
</br>
</br>

<div class="container">
  <div class="row">
    <div class="col-12">
			<a href="{% url 'clear_session_database' %}" > Clear Session </a>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
						<th scope="col">
              <a href="{% url 'clear_session_database' %}"  class="fa fa-trash"></a>
            </th>
            <th scope="col">Name</th>
            <th scope="col">Oldname</th>
          </tr>
        </thead>
				{% for protein in proteins %}
				{% if protein.name in selected_groups %}
        <tbody>
          <tr>
            <td>
						<a href="/remove_cart/{{ protein.id }}" class="fa fa-trash"></a>
            </td>
            <td> {{ protein.name }} </td>
            <td>{{ protein.oldname }}</td>
      </tbody>
			{% endif %}
			{% endfor %}
      </table>

</br>
</br>
			<div class="container">
			  <div class="row">
			    <div class="col-12">
						<a href="{% url 'clear_session_user_data' %}" > Clear Session </a>
			      <table class="table table-bordered table-hover">
			        <thead>
			          <tr>
									<th scope="col">
			              <a href="{% url 'clear_session_user_data' %}"  class="fa fa-trash"></a>
			            </th>
			            <th scope="col">Name</th>
			          </tr>
			        </thead>
							{% for record in userdata %}
			        <tbody>
			          <tr>
			            <td>
									<a href="/user_data_remove/{{ record.id }}" class="fa fa-trash"></a>
			            </td>
			            <td> {{ record.name }} </td>
				      </tbody>
							{% endfor %}
				      </table>
							<a href="{% url 'download_sequences' %}"> Download sequences </a>
</br>
</br>
<h3> Add your sequences for the analysis </h3>
</br>
</br>

<!-- <form method="post" enctype="multipart/form-data"> -->
	<!-- {% csrf_token %} -->
	{% crispy userform %}

  <!-- </form> -->

</br>
<h3> Submit the sequences for the dendogram analysis </h3>
</br>
{% crispy analysisform %}
</div>
{% endblock content %}

{% block extrajs %}

<style>
h3 {text-align: center;}
</style>

<script>
$(function() {
  $('#div_id_userdata').append("<a>User upload fasta headers are truncated to 10 characters</a>")
});
</script>

{% endblock extrajs %}
