{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<h2>Search database by protein name </h2>
<br>
Examples:
<br>
<h8> Cry1Aa1 <h8> <br>
<h8> Cry32B <h8> <br>
<h8> Xpp22 <h8> <br>
<h8> Cry41, Cry42, Cry43 <h8>
</br>
</br>


<form method="post" action="/search_database/">
  {% csrf_token %}

       {{ form.search_term | as_crispy_field }}
       {{ form.search_fields | as_crispy_field }}

      <button type="submit" class="btn btn-secondary" > Search </button>
</form>


{% endblock content %}

{% block extrahead %}
<style>

.asteriskField {
    display: none;
}

</style>
{% endblock extrahead %}

{% block extrajs %}

{% endblock extrajs %}
